.navbar {
  background-color: #1a1a1a;
  color: white;
  width: 100vw; /* GÜNCELLENDİ */
  padding: 15px 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: sticky;
  top: 0;
  z-index: 999;
}


.navbar-container {
  width: 100%;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navbar-logo {
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.navbar-links li a {
  color: #ccc;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.2s ease;
}

.navbar-links li a:hover {
  color: white;
}
